fastapi==0.115.5
uvicorn[standard]==0.34.0
gunicorn==23.0.0
pydantic==2.10.3
databricks-sdk>=0.81.0
psycopg[binary,pool]
faker
mlflow
numpy<2
ortools==9.8.3296
pandas
openpyxl==3.1.5
pytest==8.3.4
httpx==0.28.1
python-multipart==0.0.20
